<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.pkunk.progressquest">
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name">

        <uses-sdk android:minSdkVersion="6"
                  android:targetSdkVersion="10"
                />

        <activity
                android:name=".ui.PhoneGameplayActivity"
                android:icon="@drawable/icon"
                android:theme="@style/Redmond"
                android:finishOnTaskLaunch="true"
                android:configChanges="orientation"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.PhoneNewPlayerActivity"
                android:configChanges="orientation"
                android:icon="@drawable/icon"
                android:theme="@style/Redmond"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.PhoneRosterActivity"
                android:configChanges="orientation"
                android:icon="@drawable/icon"
                android:theme="@style/Redmond"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name=".service.GameplayService" />

        <receiver android:name="com.github.pkunk.progressquest.widget.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_info" />
        </receiver>

    </application>
</manifest>
